* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(44, 45, 50);
  color: rgb(210, 212, 214);
}

/* Inicio Introduccion */
#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.intro-content {
  text-align: center;
}

.intro-content p {
  font-size: 18px;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
  margin: 10px 0;
}

.intro-content h1 {
  font-size: 96px;
  font-family: "Playwrite DE Grund", cursive;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.logo img {
  width: 10%;
  border-radius: 50%;
}

#playBtn {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

#playBtn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Fin Introduccion */

/* Inicio Main */
#content {
  background-size: cover;
  position: absolute;
  transition: top 1s ease-in-out;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease, visibility 0s 0.8s;
}

#content.visible {
  top: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Fin Main */

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////Header/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 20px;

}

header nav {
  margin-left: auto;
  font-family: "Playwrite DE Grund", cursive;
}

header .navLogo img {
  height: 70px;
  border-radius: 20px;
}

header .navLogo img:hover {
  transform: scale(1.1);
}

header .redes {
  border-left: 2px solid rgb(210, 212, 214);
  padding: 5px;
}

header .redes img {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

header .redes img:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(191, 170, 110);
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////Empieza Sobre mi///////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

section {
  margin: 0 auto;
  display: flex;
}

#sobre-mi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
}


#sobre-mi .Contactarme,
.sobre-mitxt {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: left;
  gap: 30px;
  align-items: start;
  margin-bottom: auto;
  font-size: 14px;
}
p{
  font-family: "Playwrite DE Grund", cursive;
  font-size: 15px;
}
.sobre-mitxt h2{
  font-family: 'Dancing Script';
  font-size: 50px;
}

#sobre-mi .Contactarme h1 {
  font-family: 'Dancing Script';
  font-size: 50px;
  border-bottom: 2px solid rgb(191, 170, 110);
}

#sobre-mi a {
  color: white;
  text-decoration: none;
  border-left: 2px solid rgb(191, 170, 110);
  padding-left: 10px;
}

#sobre-mi .Contactarme .contactbttn a {
  border-left: none;
}

#sobre-mi a:hover {
  color: rgb(191, 170, 110);
}

#sobre-mi .Contactarme button {
  background-color: #33333300;
  padding: 10px;
  border-color: rgb(191, 170, 110);
  color: rgb(191, 170, 110);
}

#sobre-mi .Contactarme button:hover {
  background-color: rgb(191, 170, 110);
  padding: 10px;
  border-color: #000000;
  color: #000000;
}

#sobre-mi .MiFoto {
  width: 300px;
  width: 33%;
  height: 400px;
  display: flex;
  justify-content: center;
}

#sobre-mi .MiFoto img {
  flex-wrap: wrap;
  border-radius: 50px;
  border-bottom: 3px solid rgba(2, 87, 172, 0.315);
  border-right: 5px solid rgba(2, 87, 172, 0.315);
}

#sobre-mi .sobre-mitxt {
  width: 300px;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////PROYECTOS//////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.proyectos h3 {
  color: rgb(191, 170, 110);
  font-family: "Playwrite DE Grund", cursive;
}

.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  margin: 0 auto;
  padding: 40px;
  flex-direction: column;
  text-align: center;
}

.galeria .galeria-imagenes {
  background-color: #333;
  justify-content: center;
  flex-wrap: wrap;
}

.galeria .galeria-imagenes .contenedorimagenes h3 {
  color: rgb(191, 170, 110);
}

.galeria .galeria-imagenes .contenedorimagenes {
  text-align: center;
 /* margin: 15px 40px 0 40px;*/
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(191, 170, 110);
  flex: 1 1 300px;
}

.galeria .galeria-imagenes .contenedorimagenes p {
  margin: 40px;
}

.galeria .galeria-imagenes .contenedorimagenes .sampleimages{
display: flex;
width: 75%;
height: 430px;
}

.galeria .galeria-imagenes .contenedorimagenes .sampleimages img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  }
  .galeria .galeria-imagenes .contenedorimagenes .sampleimages img:hover{
    cursor: crosshair;
    width: 60%;
    opacity: 1;
    filter: contrast(120%);
  }

.galeria .galeria-imagenes .contenedorimagenes button {
  padding: 10px;
  border-color: rgb(191, 170, 110);
  color: rgb(191, 170, 110);
  background-color: #00000000;
}

.galeria .galeria-imagenes .contenedorimagenes button:hover {
  background-color: rgb(191, 170, 110);
  padding: 10px;
  border-color: #000000;
  color: #000000;
}

.galeria .galeria-imagenes .mmorpg {
  margin: 50px;
  padding: 50px;
  background-color: #00000048;
  border-radius: 20px;
}
/*   EMPIEZA REGISTRO PARA LA DEMO    */

/* Estilos para el botón */
#registrarseBtn {
  padding: 15px 25px;
  background-color: rgb(191, 170, 110);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

#registrarseBtn:hover {
  background-color: rgb(191, 170, 110);
}

/* Estilos para la ventana modal */
.modal {
  display: none;  /* Oculta el modal por defecto */
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: rgb(191, 170, 110);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilo del botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}






/* Estilos para el botón de "Me gusta" 

#likeBtn {
  padding: 10px 20px;
  background-color:rgb(191, 170, 110);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#likeBtn:hover {
  background-color: #1e301f;
}

/* Estilo para el contador de "Me gusta" */
#likeCount {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(191, 170, 110);
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////EMPIEZA FORMULARIO///////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.contacto {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #00000048;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.contacto form {
  margin: 0 auto;
}

.contacto label {
  display: block;
  margin: 10px 0 5px;
  color: rgb(191, 170, 110);
}

.contacto input,
.contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contacto input:focus,
.contacto textarea:focus {
  border-color: #007bff;
}

.contacto button {
  width: 100%;
  padding: 10px;
  background: rgb(191, 170, 110);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contacto button:hover {
  background: #0057b300;
  border: 3px solid rgba(191, 170, 110);
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////EMPIEZA FOOTER/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}


@media (max-width: 768px) {
  .intro-content h1 {
    font-size: 48px; 
  }


  #playBtn {
    padding: 8px 20px;
    font-size: 16px;
  }


  header {
    margin: 0;
  }
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  header nav ul li {
    text-align: center;
  }

  header .redes img {
    height: 25px;
    width: 25px;
  }


  .galeria .galeria-imagenes {
    flex-direction: column;
    padding: 20px;
  }


  .galeria .galeria-imagenes .contenedorimagenes img {
    width: 80%;
    margin: 0 auto;
  }


  .contacto {
    max-width: 90%;
    padding: 10px;
  }

  .contacto input,
  .contacto textarea {
    font-size: 14px;
  }

}


@media (max-width: 1024px) {
  .intro-content h1 {
    font-size: 72px;
  }

  .galeria .galeria-imagenes {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .galeria .galeria-imagenes .contenedorimagenes img {
    width: 90%;
  }
}


@media (max-width: 576px) {
  .intro-content h1 {
    font-size: 36px;
  }

  .intro-content p {
    font-size: 14px;
  }


  #playBtn {
    padding: 6px 15px;
    font-size: 14px;
  }

  .contacto input,
  .contacto textarea {
    font-size: 12px;
  }
}